.nome1{
    font-size: 20px;
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.imgs{
    width: 500px;
    height: 1000px;

    /* Espaçamento interno */
    padding: 20px;

    /* Estilo de borda */
    border: 1px solid #ccc;
    border-radius: 8px; /* bordas arredondadas */

    /* Sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Espaçamento externo */
    margin: 20px;

    /* Outros */
    background-color: #fff; /* cor de fundo do card */
    overflow: hidden; /* esconde o conteúdo que ultrapassa o tamanho do card */
    transition: transform 0.2s; /* animação suave para hover */
}